<app-header></app-header>
<h3></h3>
<main class="bookscontainer">

    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
                <img src="assets/default.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
              <div class="content">
                  <h5>Author:</h5>
                   <p>Prince Darko</p>

                   <h5>Summary: </h5>
                   <p>Lorem ipsum dolor Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque excepturi vero saepe voluptatem esse ipsum fuga placeat libero totam maxime. sit amet consectetur adipisicing elit. Hic sunt magni quisquam quibusdam pariatur repellat dolores sapiente praesentium illo ipsa!</p>
                   <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
          </div>
         
          
          <div class="col-md-4">
            books by same Author
            <div class="container similar text-center">
                <div class="row">
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/default.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/default.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/default.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                        </div>
                      </div>
                  </div>
        
                 
                </div>
               
                 
                </div>
          </div>
        </div>
        </div>
</main>
