<header>
    <nav class="navbar fixed-top">
        <div>
          <a class="navbar-brand" href="#">
            <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            The Library
          </a>
        </div>
      
        <div>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{userInfo?.fullname ? userInfo.fullname : ''}}
                </button>
                <ul class="dropdown-menu">
                  <li  *ngIf="userInfo"><a class="dropdown-item"  (click)="issuedbook()">Issued books</a></li>
                  <li *ngIf="userInfo" (click)="user()"><a class="dropdown-item" >status: {{userInfo?.admin ? 'admin' : 'user'}}</a></li>
                  <li *ngIf="userInfo?.admin"><a class="dropdown-item" >create book</a></li>
                  <li (click)="auth()" ><a class="dropdown-item" >{{userInfo ? 'logout' : 'login'}}</a></li>
                </ul>
              </div>
        </div>
      </nav>
    
</header>