.navbar{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:auto;
}


a{
    color: #fff;
}

.inputContainer{
    margin-top: 10px;
}

.dropdown-toggle{
    color:white;
}

svg{
    margin-top:-10px
}

.dropdown-toggle:hover{
    border:none
}

.inputContainer > input{
    width: 450px;
    background-color: #292a2d;
    color:white;
    border-color: #292a2d;
}

ul{
    background-color: #292a2d;
}

ul > li > a{
    background-color: #292a2d;
}

a:hover{
    color:white;
}




@media only screen and (max-width: 800px) {
    ul{margin-left: -6em}
  
    svg{
        margin-top:-8px
    }

    .navbar{
        width:100%;
    }
    
  }