<app-header></app-header>
<main>
    <ul  class="list-group list-group-horizontal navbar fixed-top flex-fill">
        <li class="list-group-item">All</li>
        <li class="list-group-item">Education</li>
        <li class="list-group-item">Football</li>
        <li class="list-group-item">Entertainment</li>
        <li class="list-group-item">Wildlife</li>
      </ul>

    <div class="container bookscontainer text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/default.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/default.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/default.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
          </div>

         
        </div>
        <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/default.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/default.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/default.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
            </div>
  
           
          </div>
          <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/default.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/default.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;">
                  <img src="assets/default.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                  </div>
                </div>
            </div>
  
           
          </div>
        </div>
</main>
