/* You can add global styles to this file, and also import other style files */
*{
    background-color: #202124; 
    padding:0;
    margin:0;
    box-sizing: border-box;
    color:white
}

body{
    background-color: #202124;
    height: 100% 

}

.bookscontainer{
    margin-top: 5em;
}


 